attrs>=21.3.0
defusedxml>=0.7.0
h5py>=2.10.0
imagesize>=1.4.1
lxml<7,>=5.2.0
matplotlib>=3.3.1
nibabel>=3.2.1
numpy<2.2.0,>=1.23.4
orjson>=3.10.0
Pillow>=10.3.0
ruamel.yaml>=0.17.0
shapely>=1.7
typing_extensions>=3.7.4.3
tqdm>=4.67.1 # version with the latest security fixes

pycocotools>=2.0.4

PyYAML==6.0.2
polars>=1.31.0,<2.0.0

# 2.3 has an unlisted dependency on PyTorch, which we don't need
tensorboardX>=1.8,!=2.3

# Builtin plugin dependencies

# NDR
scipy>=1.16.1 # version with the latest security fixes

# Image generator
requests>=2.32.4 # version with the latest security fixes

# Sampler
pandas>=1.4.0

tokenizers

# apache arrow
pyarrow

# ava data format
protobuf>=6.31.1 # version with the latest security fixes

# Comparator
tabulate

# Stream JSON parser
json-stream

# TabularValidator
nltk>=3.9 # version with the latest security fixes

# torch converter for language
portalocker
