dvc==3.49.0 # fix version to avoid some import issues
fsspec <= 2022.11.0; python_version < '3.8'
GitPython>=3.1.18,!=3.1.25 # https://github.com/open-edge-platform/datumaro/issues/612
openvino-telemetry>=2022.1.0
openvino-dev>=2023.2.0
